<section class="todoapp">
    <header class="header">
        <h1><%= @list.name %></h1>
        <input class="new-todo" placeholder="Add An Item" autofocus="">
    </header>
    
    <section class="main">
        <input id="toggle-all" class="toggle-all">
        <ul class="todo-list">
            <li>
                <div class="view">
                </div>
            </li>
        </ul>
    </section>

    <footer class="footer">
    </footer>
</section>