<section class="todoapp">
    <header class="header">
        <h1>TODO LIST</h1>
        
    </header>
    
    <section class="main">
        <input id="toggle-all" class="toggle-all">
        <ul class="todo-list">
            <li>
                <div class="view">
                    <label><a href="#">Code List</a></label>
                </div>
            </li>
            <li>
                <div class="view">
                    <label><a href="#">Reading List</a></label>
                </div>
            </li>
            <li>
                <div class="view">
                    <label><a href="#">Long Term Goal</a></label>
                </div>
            </li>
        </ul>
    </section>

    <footer class="footer">
    </footer>
</section>